# Setup the Docker Compose file 
services:
    # 1. Backend Service (FastAPI)
    api:

    # 2. Frontend Service (React/Vite)
    frontend:

    # Core Infrastructure (DBs, Cache, Search)
    # 3. Database Service (Postgres)
    postgres:

    # 4. Redis Service (Caching)
    redis:

    # 5. Openseach Service (Vector Database)
    opensearch:

    # 6. Opensearch Dashboard Service 
    opensearch-dashboards:

    # 7. LLM Service (Ollama)
    ollama:

    # Pipeline & Observability (Airflow, Langfuse)
    # Note: Requires ./airflow directory with Dockerfile 

    # 8. Airflow Service (Pipeline Orchestration)
    airflow:

    # Observaility Services
    # 9. Clickhouse Service 
    clickhouse:

    # 10. Langfuse Service (Observability)
    langfuse-worker:

    # 11. Langfuse Web Service 
    langfuse-web:

    # 12. Langfuse Postgres Service 
    langfuse-postgres:

    # 13. Langfuse Redis Service 
    langfuse-redis:

    # 14. Langfuse MinIO Service 
    langfuse-minio:

volumes:
  postgres_data:
  opensearch_data:
  ollama_data:
  airflow_logs:
  clickhouse_data:
  redis_data:
  langfuse_v3_postgres_data:
  langfuse_v3_minio_data:

networks:
  rag-network:
    driver: bridge